<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-black">
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="space-y-2">
            <div class="flex ">
                <div class="">
                    <a href="http://localhost:3000/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /></svg></a>
                </div>
                <div class="flex items-center ml-14">
                    <img src="https://play-lh.googleusercontent.com/XyI6Hyz9AFg7E_joVzX2zh6CpWm9B2DG2JuEz5meCFVm4-wTKTnHgqbmg62iFKe4Gzca=w240-h480-rw" alt="X"
                    class="mx-auto w-10"/>
                </div>
            </div>
            <div id="step1" class="space-y-4">
                <div>
                    <input type="text" id="nome" required placeholder="Celular,e-mail ou nome de usuário" 
                class="placeholder-gray-500 border border-gray-500 placeholder pb-1 px-2 py-1 placeholder:text-xs">
                </div>
                <div>
                    <input type="button" value="Continuar" onclick="entrar()"
                    class="text-black  cursor-pointer rounded-2xl w-full  bg-gray-500 hover:bg-gray-600 transition">
                </div>
            </div>
            <div class="flex flex-col">
                    <a href="/Criarconta" class="text-white bg-blue-500 cursor-pointer hover:bg-blue-600 text-center rounded-2xl transition max-w-18 text-xs">Criar conta</a>
                    
            </div>
                    
            </div>
        <div id="step2">

        </div>
    </div>
    <script ></script>
</body>
</html>